.topo {
    padding: 20px 0;
    position: relative;


}

.banner-topo {
    background-image: url(../img/algo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-topo .img-destaque {
    max-width: 300px;
}
.banner-topo h1{
    color: #14cc99
}
.banner-topo p{
    color: #f9fafa
}

.banner-topo h4{
    color: #f9fafa
}

.quem-somos {
    background: #111419;
    color: #f9fafa;
}

.h1{
    color: #14cc99
}

.banner-baixo {
    background-image: url(../img/tech_.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

}

.rodape {
    color: #f9fafa;
    background: #111419;

}