.topo {
    padding: 20px 0;
    position: relative;


}

.banner-topo {
    background-image: url(../img/algo.png);
}

.banner-topo .img-destaque {
    max-width: 300px;
}
.banner-topo h1{
    color: #14cc99
}
.banner-topo p{
    color: #f9fafa
}

.quem-somos {
    background: #111419;
    color: #f9fafa;
}


